:root {
	--cardWidth: 12rem;
	--gridGap: 2.5rem;
	--borderRadius: 0.5em;
	--boxShadow: 0 1px 1px rgba(16, 27, 30, 0.07), 0 2px 2px rgba(16, 27, 30, 0.07), 0 4px 4px rgba(16, 27, 30, 0.05), 0 8px 8px rgba(16, 27, 30, 0.07), 0 16px 16px rgba(16, 27, 30, 0.07);
	--wrapperBg: radial-gradient(farthest-corner at 10px 10px, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%);
}
* {
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
	box-sizing: border-box;
}

html,
body {
	overflow: auto;
}

body {
	font-family: "Work Sans", sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	background-color: whitesmoke;
	background-image: var(--wrapperBg);
	height: 100%;
	min-height: 100vh;
	position: relative;
	color: #333435;
}

body * {
	position: relative;
}





